.card {
  width: max-content;
  border: black 1px solid;
  border-radius: 30px;
  padding-inline: 3rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  margin: 1.5rem 0;
  font-size: 34px;
  font-weight: 400;
}