.search-bar-input {
  font-size: 24px;
  font-weight: 300;
  background-image: url("@/shared/assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center left 8px;
  padding: 1rem 3rem;
  width: 40%;
}
